.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 28px 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 548px) {
  .profile__name {
    margin-top: 26px;
    margin-bottom: 7px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

@media (max-width: 325px) {
  .profile__name {
    margin-left: 30px;
  }
}
